---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  <div>🗓️ {{ page.date | date_to_long_string }}</div>
  <div>
    🍿
    <b>
	{%- assign words = content | number_of_words -%}
	{%- if words < 360 -%}
		less than 1 min read time
	{%- else -%}
		{{ words | divided_by: 180 }} mins read time
	{%- endif -%}
	</b>
  </div>

  {%- if page.tags != empty -%}
    <div>
        🏷️ Tags: 
		{% for tag in page.tags %}
		<a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
		    <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
		</a>
		{% endfor %}
	</div>
  {%- endif -%}
  
  <br>
</p>

{{ content }}

<div class="page-navigation">
  {% if page.next.url %}
    <a class="prev" href="{{page.next.url}}">&laquo;{{page.next.title}}</a>
  {% endif %}
  {% if page.previous.url %}
    <a class="next" href="{{page.previous.url}}">{{page.previous.title}}&raquo;</a>
  {% endif %}
</div>
